env:
 es6: true
 node: true

parserOptions:
  sourceType: module
  ecmaVersion: 2017

globals:
 configuration: true
 ProyPath: true
 makeObjIterable: true
 describe: true
 it: true
 beforeEach: true
 after: true
 Kmetadata: true
 requireSafe: true
 requireNoCache: true
 i18n: true

rules:
 one-var: [0, never]
 no-new-wrappers: 0
 no-useless-escape: 0

extends:
 - happiness
