/manual
/bower_components/
/node_modules/
.DS_Store
/npm-debug.log
/running_test/
/.nyc_output/
/coverage/
/doc/
/core/
/cli/
.npmignore
/testingapp/
testingapp
/lib/
*.tgz
*.log.*
/support/
/views/
/middleware/
/index.js
